/* Setup */
:root {
  --black: #000000;
  --almost-black: #263238;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #1E88E5;
  --primary-dark: #1976D2;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
}


.login-card {
  padding-top: 15px;
  margin: 10px 0;
  background-color: #baffd2;
  height: 400px;
  width: 300px;
  border: 2px solid #BAFFF5;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 5px;
  transition: 0.2s;
}

.login-card:hover {
  margin: 5px;
  height: 390px;
  background-color: #FFBAE7;
  box-shadow: 5px 5px 18px #888888;
}
