{% extends "base.html" %}

{% block content %}

  <!-- <div class="container"> -->
    <div class="text-center">
      <h1>Home</h1>
    </div>
  <!-- </div> -->

  <div class="container" id="container">
  	<div class="form-container sign-up-container">

  		<form name="signup_form">
  			<h1>Create Account</h1>
  			<span>or use your email for registration</span>


        <label for="name">Name</label>
        <input type="text" name="name" class="field" placeholder="name" required>

        <label for="name">Email</label>
        <input type="text" name="email" class="field" placeholder="email@example.com" required>

        <label for="name">Password</label>
        <input type="text" name="password" class="field" placeholder="password" required>

        <input class="login-btn" type="submit" value="Sign Up">

  		</form>

  	</div>
  	<div class="form-container sign-in-container">

      The form name needs to change to be referenced by jQuery
  		<form name="login_form">
  			<h1>Sign in</h1>
  			<span>or use your account</span>

        <label for="name">Email</label>
        <input type="text" name="email" class="field" placeholder="email@example.com" required>

        <label for="name">Password</label>
        <input type="text" name="password" class="field" placeholder="password" required>

        <input class="login-btn" type="submit" value="Sign In">
  		</form>

  	</div>
  	<div class="overlay-container">
  		<div class="overlay">
  			<div class="overlay-panel overlay-left">
  				<h1>Welcome Back!</h1>
  				<p>To keep connected with us please login with your personal info</p>
  				<button class="ghost" id="signIn">Sign In</button>
  			</div>
  			<div class="overlay-panel overlay-right">
  				<h1>Hello, Friend!</h1>
  				<p>Enter your personal details and start journey with us</p>
  				<button class="ghost" id="signUp">Sign Up</button>
  			</div>
  		</div>
  	</div>

  </div>

    <!-- <div class="container">


      <div class="col-12">
        <div class="login-card">
          <h3 class="text-center">Create an Account</h3>
          <form name="signup_form">
            <div class="text-right">

              <label for="name">Name</label>
              <input type="text" name="name" class="field" required>

              <label for="name">Email</label>
              <input type="text" name="email" class="field" required>

              <label for="name">Password</label>
              <input type="text" name="password" class="field" required>


            </div>
            <div class="text-center">
              <p class="error error--hidden"></p>

              <input type="submit" value="Sign Up">

            </div>
          </form>

        </div>
      </div>


      <div class="col-lg-2 col-md-3 col-12 login-card">
        <h3>Login</h3>
        <form name="login_form">

          <label for="name">Email</label>
          <input type="text" name="email" class="field" required>

          <label for="name">Password</label>
          <input type="text" name="password" class="field" required>

          <p class="error error--hidden"></p>

          <input type="submit" value="Log In">
        </form>
      </div>

    </div> -->

  <!-- <div>
    <h1>Login</h1>

    <form name="login_form">

      <label for="name">Email</label>
      <input type="text" name="email" class="field" required>

      <label for="name">Password</label>
      <input type="text" name="password" class="field" required>

      <p class="error error--hidden"></p>

      <input type="submit" value="Log In">

    </form>

  </div> -->

{% endblock %}
